nav {
  width: 100%;
  height: 50px;
  padding-right: 50px;
  padding-left: 10px;
  background: rgb(250, 106, 106);
  background: linear-gradient(
    107deg,
    rgba(250, 106, 106, 1) 0%,
    rgba(255, 168, 37, 1) 40%
  );
}

.nav-bar {
  width: 100%;
  height: 50px;
  float: left;
}

.logo {
  float: left;
  font-family: "Pacifico";
  color: white;
  font-size: 20px;
  margin-top: 9px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}
.logo:hover {
  cursor: pointer;
}

.nav-bar-pages ul {
  list-style: none;
  float: left;
}

.nav-bar-pages li {
  float: left;
  padding-right: 40px;
  padding-top: 15px;
  font-size: 14px;
  color: white;
  font-family: "Montserrat";
  font-weight: lighter;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
}

.nav-bar-pages li:hover {
  cursor: pointer;
  font-weight: bolder;
  font-family: "Montserrat";
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

.sel {
  font-weight: bolder !important;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

body {
  background: rgb(255, 168, 37);
  background: linear-gradient(
    107deg,
    rgba(255, 168, 37, 1) 0%,
    rgba(250, 106, 106, 1) 58%
  );
  font-family: "Montserrat";
}

.frm-box {
  width: 100%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.spacer {
  height: 20px;
}

footer {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer h3 {
  font-family: "Montserrat";
  font-size: 20px;
  color: white;
}

footer h2 {
  font-family: "Montserrat";
  font-size: 20px;
}

footer h1 {
  font-family: "Pacifico";
  font-size: 30px;
}
